body
{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: verdana, sans-serif;
    background: black;
}
h1
{
    margin: 0;
    padding: 0;
    font-size: 100px;
    color: #e5e5e5;
    text-transform: uppercase;
    position: relative;
}
h1::before 
{
    content: "#30diasDeCSS";
    position: absolute;
    top: 0%;
    left: 0%;
    color: #efa7cc;
    width: 0%;
    overflow: hidden;
    transition: all 1s;
}
h1:hover::before
{
    width: 100%;
}