body
{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('background.jpg');
}
.line
{
    width: 300px;
    border-bottom: 4px solid white;
    position: relative;
    animation: animateline 5s linear infinite;
}

img{
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 50px;
    height: 50px;
    background-color: none;
    animation: animateimg 5s linear infinite;
}

@keyframes animateimg 
{
    0% {left: 0;}
    50% {left: calc(100% - 50px);
    transform: rotate(720deg);}
    100% {left: 0;}
}

@keyframes animateline 
{
    0% {transform: rotate(30deg);}
    25% {transform: rotate(0deg);}
    50% {transform: rotate(-30deg);}
    75% {transform: rotate(0deg);}
    100% {transform: rotate(30deg);}
}